.addressContainer {
  width: auto;
  height: 100%;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.addressNav {
  width: 90%;
  height: 3rem;
  border-radius: 0px 0px 12px 12px;
  border: 1px;
  background: #fafafa;
  border: 1px solid #0000001a;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}

.navbar {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-between;
  gap: 3rem;
}

.menu li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  border-radius: 2rem;
  width: auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
}

.pageOpened {
  background: #fc8a06;
  border-radius: 2rem;
  width: 6rem;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  padding: 0.5rem;
  color: #ffffff;
}

.loggedInUser {
  width: auto;
  height: auto;
  border-radius: 2rem;
  background: #03081f;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0.8rem;
}

.loggedInUser span {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
}

.midContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 90%;
  height: 80vh;
}

.addresses {
  display: grid;
  column-gap: 0.5rem;
  grid-template-columns: auto auto auto;
}

.addNewAddress {
  padding: 4rem;
  border-radius: 1rem;
  opacity: 0px;
  background: #ffffff;
  border: 1px solid #afafaf;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.addNewAddress span {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  color: #000000;
}

.address {
  border-radius: 1rem;
  background: #ffffff;
  border: 1px solid #afafaf;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  font-family: "Poppins", sans-serif;
  padding: 0.5rem;
}

.firstLine {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.firstLine p {
  font-size: 16px;
  font-weight: 600;
  line-height: 19.2px;
  text-align: left;
  padding: 0.4rem;

  margin: 0;
}

.firstLine span {
  background: #ffedd8;
  padding: 0.2rem 0.4rem;
  border-radius: 6rem;
}

.footer {
  width: 100%;
  height: auto;
  background-color: rgba(217, 217, 217, 0.6);
}

.address1 {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: left;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 0.5rem;
}

.editAddress {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: right;
  color: #fc8a06;
}
